<ul class="Sidebar">
	<li id="btn">
		<div id="Sidebar-btn-open"><span></span><span></span><span></span></div>
	</li>
	<li>
		<div id="mns-pic"><img src="images/mns.png" alt="Martin-Niemöller-Schule Wiesbaden"></div>
	</li>
	<li><a href="stundenplan.html"><img src="images/stundenplan.png" alt="Stundenplan">Stundenplan</a>
	</li>
	<li><a href="vertretungsplan.html"><img src="images/vertretungsplan.png"
	                                        alt="Vertretungsplan">Vertretungsplan</a></li>
	<li id="liBuecherListe"><a href="buecher.html"><img src="images/buecher.png" alt="Buecher">Bücherliste</a></li>
	<li><a href="klausuren.html"><img src="images/calendar.png" alt="Klausuren">Klausuren</a></li>
	<li><a href="index.html"><img src="images/refresh.png" alt="neu laden">alles aktualisieren</a></li>
	<li><a href="einstellungen.html"><img src="images/settings.png" alt="einstellen">Einstellungen</a></li>
	<!-- TODO
		<li><a href="index.html" id="logOut"><img src="images/logout.png" alt="Logout">Logout</a></li>
	-->
</ul>