.hiddenByCss{
    position: absolute !important;
    left: -500% !important;
}

#interactive * {
    max-width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
}

#topbar {
    width: calc(100% - 15px);
    height: 55px;
    background-color: #7ABBFF;
    color: #FFFFFF;
    float: right;
    text-align: left;
    font-size: 32px;
    line-height: 55px;
    padding-left: 15px;
}

.contentBox {
    float: right;
    width: calc(100%);
    margin-top: 15px !important;
}

#TitelWahl {
    margin: 5px;
}

select {
    width: 100%;
    font-size: 18px;
}

#btn {
    border-bottom: 0;
}

.btn {
    display: block;
    background-color: #64AFFF;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: calc(100% - 10px);
    height: 55px !important;
    margin: 5px;
    padding: 0;
}

.btnGroup {
    display: block;
    background-color: #64AFFF;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: calc(100% - 10px);
    height: 55px !important;
    margin: 5px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#ScanTitel {
    display: block;
    background-color: #64AFFF;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: calc(100% - 10px);
    height: 55px !important;
    padding: 0;
}

.textfield {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#Nummer {
    margin-bottom: 15px;
}

#scanner_input {
    display: block;
    margin: auto;
}