body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#Sidebar{
    background-color: #FFFFFF;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: left 0.3s linear;
    border-right: 1px solid #333333;
    margin: 0;
}
.Sidebar {
    margin: 0;
    padding: 0;
}
#btn{
    border-bottom: 0px;
}
.Sidebar li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #333333;
}
.Sidebar li a {
    background-color: #FFFFFF;
    display: block;
    color: #000000;
    text-align: left;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.Sidebar li a:hover {
    background-color: #EFEFEF;
}
#active {
    background-color: #EFEFEF;
}
.Sidebar li img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 0;
    margin-top: -10px;
    float: left;
}
#mns-pic{
    width: 200px;
    height: 150px;
    padding: 0px;
    margin: 0px;
}
#topbar{
    width: calc(100% - 215px);
    height: 55px;
    background-color: #7ABBFF;
    color: #FFFFFF;
    float: right;
    text-align: left;
    font-size: 32px;
    line-height: 55px;
    padding-left: 15px;
}
#selector{
    width: calc(100% - 200px);
    height: 55px;
    background-color: #7ABBFF;
    float: right;
    margin-bottom: 15px;
}
.woche{
    width: 50%;
    height: 55px;
    margin: 0px;
    float: right;
    text-align: center;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
    color: #FFFFFF;
}
.woche:hover{
    background-color: #64AFFF;
}
.active{
    background-color: #64AFFF;
}
.contentBox{
    font-family: "Arial";
    float: right;
    width: calc(100% - 200px);
}
.Stundenplan{
    position: absolute;
    left: -100%;
    top: -100%;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 750px;
    height: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.tactive{
    position: static;
    margin: auto;
    padding: 0px;
    width: 750px;
}
#StundenplanTabelle th{
    background-color: #7ABBFF;
    border: 1px solid black;
}
#StundenplanTabelle td{
    background-color: #FFFFFF;
    border: 1px solid black;
}
.Stunde{
    background-color: #7ABBFF;
    border: 1px solid black;
}

.ui-page.ui-page-theme-a.ui-page-active{
    position: absolute;
    top: 55px;
    left: 200px;
}

@media
only screen and (max-width: 950px) {

    .ui-page.ui-page-theme-a.ui-page-active{
        left: 0px;
        z-index: -1;
    }


    #StundenplanTabelle {
        font-size: 0px;
        float: none;
        margin: auto;
        width: 100%;
    }
    .Stundenplan {
        font-size: 16px;
        max-width: 750px;
        margin: auto;
        padding: 0px;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    #Sidebar{
        left: -201px;
    }
    #Sidebar.visible{
        left: 0px;
        transition: left 0.3s linear;
    }
    #btn{
        border-bottom: 1px solid #333333;
    }
    #Sidebar-btn{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 15px;
        cursor: pointer;
        margin: 0px;
        padding: 20px;
        top: 0px;
        right: 0px;
        background-color: #7ABBFF;
    }
    #Sidebar-btn-open{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 15px;
        cursor: pointer;
        padding: 20px;
        margin-left: 140px;
        top: 0px;
        position: static;
    }
    #Sidebar-btn span{
        height: 1px;
        background: #111;
        margin-bottom: 5px;
        display: block;
    }
    #Sidebar-btn-open span{
        height: 1px;
        background: #111;
        margin-bottom: 5px;
        display: block;
    }
    #topbar{
        width: calc(100% - 70px);
        height: 55px;
        padding-left: 10px;
     }
    #selector{
        width: 100%;
        height: 55px;

    }
}
@media
only screen and (max-width: 415px){
    .Stundenplan, th, td{
        font-size: 14px;
    }
    #Sidebar-btn-open{
        margin-left: calc(100% - 60px);
    }
    #Sidebar{
        width: 75%;
        left: calc(-75% - 1px);
    }
    .Sidebar li a {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #Sidebar-cls{
        width: 25%;
        left: -25%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        display: block;
    }
    #Sidebar-cls.cls-visible{
        left: 75%;
    }
}
@media
only screen and (max-width: 360px){
    .Stundenplan, th, td{
        font-size: 12px;
    }
    .Stundenplan{
        height: calc(100vh - 140px);
    }
    .woche{
        font-size: 20px;
        line-height: 55px;
    }
}
@media
only screen and (max-width: 310px){
    #StundenplanTabelle table, th, td{
        font-size: 10px;
    }
    #Sidebar{
        width: 100%;
        left: -100%;
    }
    .Sidebar li a {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #Sidebar-cls.cls-visible{
        left: 100%;
    }
    .woche{
        font-size: 18px;
        line-height: 55px;
    }
}