#StundenplanTabelle{
    width: 100%;
    max-width: 500px;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    background-color: lightblue;
    border: 1px solid black;
}
td{
    background-color: lightgrey;
    border: 1px solid black;
}
.Stunde{
    background-color: lightblue;
    border: 1px solid black;
}
@media
only screen and (max-width: 400px){
    table, th, td{
        font-size: 12px;
    }
}
@media
only screen and (max-width: 310px){
table, th, td{
    font-size: 10px;
}
}
